# --- Entorno virtual ---
entorno/
venv/
env/
.env
.venv

# --- Base de datos ---
# Bloqueamos cualquier variante de SQLite
db.sqlite3
*.sqlite3

# --- Archivos de Python compilados ---
__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class

# --- Archivos de media ---
media/

# --- VS Code y Editores ---
.vscode/
.idea/
.history/
*.swp

# --- Sistema operativo ---
.DS_Store
Thumbs.db
desktop.ini